.footer {
    background: #22418a;
    color: white;
}
.flex-box {
background: #1986c2;
color:white;
padding-top:20px;

}
.horizontal{
  display: inline-block;
  margin:0;
  padding:15px;
}
.horizontal li{
  display:block;
  float:left;
  padding:15px;
}
.white {
    color: white;
  }
  .drop-down {
    font-size: 40px;
  }
  .page {
    font-size: 21px

  }
}
