/* Home page specific styles */
/* General page styles */

.footer-box {
  background: #22418a;
  color: white;
  margin: auto;
  text-align: center;
  width: auto;
  height: auto;
 }
.inner-box {
  width: auto;
  height: auto;
  border: 5px;
  background: #1986c2;
  color:white;
  padding-top:20px;
 }
.horizontal{
  display: inline-block;
  margin:auto;
  padding:15px;
 }
.horizontal li{
  display:block;
  float:left;
  padding:15px;
 }
.white {
  color: white;
 }
.drop-down {
  font-size: 60px;
 }
.page {
  font-size: 21px;
 }
}
