/* General page styles */
/* We should use a mobile first approach having out breack point at 768px */
/*Comodities */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.carrousel-section {
  margin: 20px;
}

.carrousel-container {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
}

.info {
  margin-bottom: 18px;
}

.info-title {
  width: 25px bold;
}

.info-line {
  width: 90px;
  height: 1px;
  margin-left: 0;
  background-color: #63ccff;
  border: 0;
}

.carrousel {
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

.carrousel__img{
  width: 100%;
  margin: 0 auto;
}

.carrousel__arrow {
  font-size: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 20px;
  height: 32px;
  font-weight: bold;
  color: #fefefe;
}

.carrousel__arrow--right{
  transform: rotateY(180deg);
  right: 10px;
}

.carrousel__arrow--left{
  left: 10px;
}

.pointer-list {
  border-radius: 50%;
  display: block;
  margin: 10px;
  list-style-position: initial;
  list-style-type: disc;
}

.pointer-list__point {
  border-radius: 50%;
  padding-left: 0%;
  margin-left: 29px;
  margin-right: 29px;
  display: inline-block;
}
.oval{
  width: 14px;
  height: 14px;
}
.oval-gray{
  background-color: rgba(51, 51, 51, 0.3);
}
.oval-black{
  background-color: #333333;
}
@media screen and (max-width: 960px){
  .oval{
    width: 10px;
    height: 10px;
  }
  .pointer-list__point{
    margin-left: 22px;
    margin-right: 22px;
  }
}

 /*end comodities*/

/* We should use a mobile first approach having out breack point at 768px */
.button {
	font-family: roboto, sans-serif;
	font-weight: 500;
	border-radius: 2px;
	overflow: hidden;
}

.button--small {
	width: 75px;
	height: 30px;
	font-size: 12px;
}

.button--medium {
	width: 120px;
	height: 45px;
	font-size: 18px;
}

.button--large {
	width: 160px;
	height: 60px;
	font-size: 22px;
}

.button--full {
	width: 100%;
}

.button--primary {
	background-color: #29b6f6;
}

.button--primary-light {
	background-color: #73e8ff;
}

.button--primary-dark {
	background-color: #0086c3;
}

.button--secondary {
	color: #ffffff;
	background-color: #1565c0;
}

.button--secondary-light {
	background-color: #5e92f3;
}

.button--secondary-dark {
	color: #ffffff;
	background-color: #003c8f;
}

.button--danger {
	color: #ffffff;
	background-color: #ce4141;
}
